<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>tv shows</title>
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'tv_shows_semi_restful/css/style.css' %}">
</head>
<body>
  <div>
    <h1>TV show {{current_show.id}}</h1>
    <a href="{{current_show.id}}/edit">Go Back</a>
  </div>
  <div>  
    <p>Title: {{current_show.title}}</p>
    <p>Network: {{current_show.network}}</p>
    <p>Release Date: {{current_show.release_date}}</p>
    <p>Description: {{current_show.description}}</p>
  </div>

  <a href="/shows/{{current_show.id}}/edit">Edit</a> | <a href = "/shows/{{current_show.id}}/delete">Delete</a>
