<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>tv shows</title>
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'tv_shows_semi_restful/css/style.css' %}">
</head>
<body>
<h1> Add a New Show </h1>

<a href='/shows'>Go Back</a>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<form method="POST" action="/shows/edit_show/{{current_show.id}}">
  {% csrf_token %}
  <p>Title</p>
  <input type="text" name="title" value = {{current_show.title}} >
  <span>Network</span>
  <input type="text" name="network" value ="{{current_show.network}}">
  <span> Release Date</span>
  <input type="date" name="release_date" value ="{{current_show.release_date}}">
  <p>Description</p>
  <textarea name="description" value="{{current_show.description}}"></textarea>
  <input type="submit" value="Edit">
</form>